<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>OsteriaX | Home</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">  
  </head>
  <body class="bg">
    <h1 class="text-center word1">Foodmap</h1>
    <div class="br"></div>
    <div class="left"></div>
    <div class="rigth"></div>
    <div id="map"></div>
    <div class=" word1 ">
      <h1 class="text-center word2">Comida cerca de ti</h1>
    </div>
    <form id="inputrest">
      <div class="form-group has-success has-feedback">
        <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
      </div>
    </form>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-responsive img" src="../assets/img/taco.jpg" alt="taco">
        </div>
        <div class="col-xs-4">
          <img class="img-responsive img" src="../assets/img/makis.jpg" alt="makis">
        </div>
        <div class="col-xs-4">
          <img class="img-responsive img" src="../assets/img/pasta.jpg" alt="pasta">
        </div>
        <div class="col-xs-6">
          <img class="img-responsive img2" src="../assets/img/sopa.png" alt="sopa">
        </div>
        <div class="col-xs-6">
          <img class="img-responsive img2" src="../assets/img/ensalada.jpg" alt="ensalada">
        </div>
      </div>
    </div>
    
    
      
  
   
  <!-- jQuery library -->
  <script src="http://maps.google.com/maps/api/js?sensor=false&callback=init"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../js/restaurant.js"></script>

  </body>
</html>